<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FarmEase-Login</title>
    <!--<link rel="stylesheet" href="login.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">


</head>

<body>
    <div class="master-container">

        <div class="universal-login">

            <div class="login-left-background">

                <div class="login-image-container">
                    <h1 class="login-left-heading">Healthy Herds, Prosperous Farmers</h1>
                    <img src="{{ url_for('static', filename='Assets/cow4.jpg') }}" width="400px" height="400px" class="login-image">


                    <div class="small-msg">
                        Welcome back
                    </div>

                </div>
            </div>
        


        <div class="login-right">
            <div class="login-container">
                <form class="login-form">
                    <h2>Login</h2>
                    <div class="input-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                    <div class="input-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <div class="input-group">
                        <button type="submit" class="login-btn">Login</button>
                    </div>
                    <p class="signup-link">Don't have an account?  <a href="{{ url_for('register') }}" class="signup">Sign Up</a></p>
                </form>
            </div>
        </div>



    </div>

    </div>

</body>

</html>